body
{
	margin: 0;
	color: #FFFFFF;
	background-color: #000000;
}

input
{
	color: #000000;
}

a:link, a:active, a:visited
{
	color: #3C81BD;
}

a:hover
{
	color: #2870AE;
}

#background
{
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -20;
	background-repeat: no-repeat;
	background-size: cover;
}

#background-layer
{
	position: fixed;
	z-index: -10;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	background: rgba(0, 0, 0, 0.60);
}

#content
{
	z-index: 100;
}

#browser
{
	background: rgba(17, 17, 17, 0.50);
	min-height: 100%;
}

#serverbrowser td
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 5px;
	font-size: 14px;
}

#serverbrowser tbody .odd
{
	background: rgba(0, 0, 0, 0.20);
}

#serverbrowser tbody .even
{
	background: rgba(0, 0, 0, 0.40);
}

.special
{
	color: #337ab7;
	font-weight: bold;
}

div.DTS div.dataTables_scrollBody
{
	background: none;
}

::-webkit-scrollbar 
{
    width: 8px;
}
 
::-webkit-scrollbar-track 
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
	background: rgba(0, 0, 0, 0.60);
}
 
::-webkit-scrollbar-thumb 
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	background-color: #337ab7;
}

#navbar
{
	margin-bottom: 0px;
}

#custom-navbar-brand
{
	color: #337ab7;
}

.pace 
{
	-webkit-pointer-events: none;
	pointer-events: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pace-inactive
{
	display: none;
}

.pace .pace-progress 
{
	background: #337ab7;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 2px;
}